body {
    font-family: Arial, sans-serif;
    background: #e3f2fd;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #999;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #2979ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}